{
    "extends": [
        "eslint:recommended",
        "plugin:cypress/recommended"
    ],
    "env": {
        "browser": true,
        "es2015": true,
        "node": true
    },
    "globals": {
        "Slick": true,
        "Sortable": true
    },
    "rules": {
        "no-prototype-builtins": [0]
    }
}