{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "node": {
      "tryExtensions": [".js", ".json", ".node", ".ts", ".d.ts"],
      "resolvePaths": ["node_modules/@types"]
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:cypress/recommended"
  ],
  "plugins": ["@typescript-eslint", "node"],
  "root": true,
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "globals": {
      "flatpickr": true,
      "Slick": true,
      "Sortable": true,
      "IIFE_ONLY": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          // accept Function type
          "Function": false
        },
        "extendDefaults": true
      }
    ],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "destructuredArrayIgnorePattern": "^_" }],
    "@typescript-eslint/quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "@typescript-eslint/semi": "error",
    "curly": "error",
    "cypress/no-assigning-return-values": "off",
    "cypress/no-unnecessary-waiting": "off",
    "cypress/unsafe-to-chain-command": "off",
    "eqeqeq": "error",
    "object-shorthand": "error",
    "no-cond-assign": "off",
    "no-prototype-builtins": [0],
    "semi": "off",
    "keyword-spacing": "error",
    "space-before-blocks": "error"
  }
}