.env
.gitk*
.idea/*
.DS_Store
*.backup
*.exe
*.pdb
*.bak
*.esproj
*.sln
.vs*
.eslintcache
node_modules/*
vitepress/.vitepress/dist/
vitepress/.vitepress/cache/
vitepress/.vitepress/.temp/
vitepress/.vitepress/*.timestamp-*.mjs
src/models/*.js
src/plugins/*.js
src/controls/*.js
src/models/*.js
src/*.js
dist/browser/models/*
SlickgridRelease*
nuget*
testresult.xml
yarn-error.log
yarn.lock
tsconfig.tsbuildinfo

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
