.DS_Store
.env
.editorconfig
.eslintignore
.eslintrc
.gitk*
.gitattributes
.github
.idea/*
.vscode
*.backup
*.exe
*.pdb
*.nuspec
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
nuget*
cypress.json
cypress/*
lib
node_modules
examples
SlickgridRelease*
scripts
tests
testresult.xml
tsconfig.json
tsconfig.tsbuildinfo
package-lock.json
