.DS_Store
.env
.eslintrc
.gitk*
.gitattributes
.github
.idea/*
.vscode
*.exe
*.pdb
*.nuspec
CHANGELOG.md
CODE_OF_CONDUCT.md
nuget*
cypress.json
cypress/*
examples
SlickgridRelease*
tests
testresult.xml
package-lock.json
yarn-error.log
yarn.lock