/**
 * DO NOT USE
 * This CSS is meant for SlickGrid demo website ONLY, do not use, there is no need to import it.
 */
$alpine-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default;

body {
  background: beige;
  padding: 0;
  margin: 8px;
  font-family: var(--alpine-font-family, $alpine-font-family);
  font-size: 13px;
}

h2 {
  font-size: 13px;
  border-bottom: 1px dotted gray;
  .sgi {
    display: inline-flex;
  }
}

ul {
  margin-left: 0;
  padding-left: 20px;
  cursor: default;
}

.options-panel {
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  padding: 4px;
  margin-bottom: 20px;
  width: 350px;
  position: absolute;
  top: 0px;
  left: 700px;

  button, input, textarea {
    font-family: var(--alpine-font-family, $alpine-font-family);
    font-size: 12px;
  }
}