.slick-custom-tooltip {
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #acacac;
  border-radius: 4px;
  color: inherit;
  font-size: 7.5pt;
  padding: 7px;
  height: auto;
  width: auto;
  z-index: 9999;
  overflow: inherit;
  text-overflow: ellipsis;
  white-space: normal;
}
