/** add ui-grid icons */
.sgi-lightbulb,
.sgi-search {
  cursor: pointer;
}

.sgi-lightbulb:before {
  content: "\01F4A1";
  font-size: 12px;
}
.sgi-search:before {
  content: "\01F50D";
  font-size: 12px;
}

/** add ui-grid icons */
.sgi-state-disabled {
  opacity: 0.5;
}
.sgi-chevron-start:before {
  content: "\0023EE";
  font-size: 14px;
}
.sgi-chevron-left:before {
  content: "\0023EA";
  font-size: 14px;
}
.sgi-chevron-right:before {
  content: "\0023E9";
  font-size: 14px;
}
.sgi-chevron-end:before {
  content: "\0023ED";
  font-size: 14px;
}