/** add ui-grid icons */
.slick-icon-lightbulb,
.slick-icon-search {
  cursor: pointer;
}

.slick-icon-lightbulb:before {
  content: "\01F4A1";
  font-size: 12px;
}
.slick-icon-search:before {
  content: "\01F50D";
  font-size: 12px;
}

/** add ui-grid icons */
.slick-icon-state-disabled {
  opacity: 0.5;
}
.slick-icon-seek-first:before {
  content: "\0023EE";
  font-size: 14px;
}
.slick-icon-seek-prev:before {
  content: "\0023EA";
  font-size: 14px;
}
.slick-icon-seek-next:before {
  content: "\0023E9";
  font-size: 14px;
}
.slick-icon-seek-end:before {
  content: "\0023ED";
  font-size: 14px;
}